.search {
    width: 631px;
    height: 52px;
    background: $color-secondary;
    font-weight: 400;
    font-size: 14px;
    color: #B3B7BF;
    padding: 18px 26px 15px 26px;
    border: none;
    background-image: url('../../assets/icons/search.svg');
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}