.table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;

    & th:nth-child(1) {
        width: 10%;
        padding-left: 23px;
    }

    & th:nth-child(2) {
        width: 50%;
        padding-left: 125px;
    }

    & th:nth-child(3) {
        width: 40%;
        padding-left: 121px;
    }
}

