.table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;

    &__head {
        background: $color-primary;
        height: 54px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $color-white;
    }

    & th:nth-child(1) {
        width: 10%;
    }
    
    & th:nth-child(2) {
        width: 50%;
    }
}

